<!-- add_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Add Profile</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="da">DA:</label>
                <input type="number" class="form-control" id="da" name="da">
            </div>
            <div class="form-group">
                <label for="station">Station:</label>
                <select class="form-control" id="station" name="station">
                    {% for station in stations %}
                        <option value="{{ station.id }}">{{ station }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
<script>
    // Set the timeout duration in milliseconds (4 minutes)
  const timeoutDuration = 240000;
  
  // Function to logout the user
  function logoutUser() {
      // Remove session data from cookies
      document.cookie = "sessionid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      // Redirect to logout page or perform other logout actions
      window.location.href = 'logout/'; // Redirect to logout page
  }
  
  // Function to start the countdown timer
  function startTimer() {
      // Set the timeout for logout
      setTimeout(logoutUser, timeoutDuration);
  }
  
  // Start the timer when the page is loaded or when the user performs an action
  document.addEventListener('DOMContentLoaded', startTimer);
  document.addEventListener('mousemove', startTimer); // Reset timer on mouse movement
  document.addEventListener('keypress', startTimer); // Reset timer on keypress
  
  </script>
</html>
